.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: $background;
    color: #fff;
}
main {
    transition: .35s ease;
}
main.opacity {
    opacity: .1;
    pointer-events: none;
}
.main-btn {
    box-sizing: border-box;
    border: none;
    font-size: 18px;
    background-color: $color2;
    color: #fff;
    padding: 10px 25px;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-family: 'Jost';
    width: fit-content;
    transition: .35s ease;
    cursor: pointer;

    &:hover {
        filter: brightness(.9);
    }

    &.trans-btn {
        background-color: transparent;
        border: 1px solid $color1;
        color: $color1;
    }
}

.section-title {
    display: block;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 40px;
    font-size: 36px;

    span {
        color: $color1;
    }

    @media(max-width:1024px) {
        font-size: 32px;
        margin-bottom: 30px;
    }

    @media(max-width:768px) {
        font-size: 28px;
        margin-bottom: 20px;
    }

    @media(max-width:560px) {
        font-size: 24px;
    }
}