.edge {
    &.custom {
         margin-bottom: 40px;
    }
    // .edge__wrap

    &__wrap {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin: 0 -10px;
        margin-top: -15px;
    }
    &__item {
        margin: 0 10px;
        background-color: $frontground;
        padding: 15px;
        border-radius: 15px;
        box-sizing: border-box;
        width: calc(25% - 20px);
        h3 {
            margin: 0;
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            font-family: "Jost";
            text-transform: uppercase;
            margin-bottom: 10px;
            margin-top: 10px;
            >span{
                font-size: inherit;
                font-family: inherit;
                color: $color1;
            }
        }
        .img {
            img {
                width: 36px;
                height: 36px;
                object-fit: contain;
            }
            svg {
                width: 80px;
                height: 80px;
                box-sizing: border-box;
            }
        }
        span {
            font-size: 18px;
            font-family: 'Jost';
        }
    }
}

@media(max-width:1200px) {
    .edge {
        &__item {
            h3 {
                font-size: 24px;
            }
        }
        &.custom {
            .edge__item {
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

@media(max-width:920px) {
    .edge{
        padding: 20px 0;
        &.custom {
            .edge__wrap {
                flex-wrap: wrap;
                margin: 0;
            }
            .edge__item {
                width: calc(50% - 10px);
                margin: 0 0 20px;
            }
            
        }
    }
}

@media(max-width:768px) {
    .edge {
        &__wrap {
            flex-wrap: wrap;
        }
        &__item {
            box-sizing: border-box;
            width: calc(50% - 20px);
            margin: 0 10px 20px;
            p {
                font-size: 16px;
            }
        }
    }
}

@media(max-width:560px) {
    .edge {
        padding-top: 20px;
        &.custom {
            .edge__item {
                width: 100%;
                margin: 0 0 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

