.header {

    // .header__wrap
    .mobile-btn {
        display: none;

    }

    &__wrap {
        padding: 10px 15px;
        box-sizing: border-box;
        background-color: #232327;
        border-radius: 15px;
        margin: 20px 0;
        display: flex;
        align-items: center;

        .title {
            margin-right: 40px;

            a {
                color: #fff;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 14px;

                span {
                    color: #66fcf1;
                    display: block;
                    margin-bottom: -25px;
                    font-size: 24px;
                }
            }
        }

        .menu {
            margin-right: auto;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                display: flex;
                align-items: center;

                li {
                    margin: 0;
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0;
                    }

                    padding: 0;

                    a {
                        font-family: "Jost";
                        color: #fff;
                        box-sizing: border-box;
                        font-size: 18px;
                        text-decoration: none;
                        transition: .35s ease;

                        &:hover {
                            color: $color1;
                        }
                    }
                }
            }
        }
    }

    // .header__action

    &__action {}

    // .header__phone

    &__phone {}

    // .header__button

    &__button {}

    @media(max-width:768px) {
        .menu {
            display: none;
        }

        .title {
            margin-right: 0;
            text-align: right;
        }

        .mobile-btn {
            display: block;
            margin-right: auto;

            button {
                display: block;
                width: 32px;
                height: 24px;
                border: none;
                background-color: transparent;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $color1;
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $color1;
                }
                span {
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    top: calc(50% - 1px);
                }
            }

        }

        &__action {
            display: none;

        }
    }

}