.order {
    padding: 40px 0;
    box-sizing: border-box;
    // .order__title

    &__title {
    }

    // .order__wrap

    &__wrap {
        display: flex;
        align-items: stretch;
        margin: 0 -15px;
    }

    // .order__item

    &__item {
        padding: 20px 15px;
        background-color: $frontground;
        width: calc(25%);
        margin: 0 15px;
        box-sizing: border-box;
        min-height: 260px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        .text {
            z-index: 2;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .5;
            z-index: 1;
        }
        &:nth-child(1) {
            background-image: url(../assets/imgs/e1-min.jpg);
        }
        &:nth-child(2) {
            background-image: url(../assets/imgs/e2-min.jpg);
        }
        &:nth-child(3) {
            background-image: url(../assets/imgs/e3-min.jpg);
        }
        &:nth-child(4) {
            background-image: url(../assets/imgs/e4-min.jpg);
        }
    }
}
.container {
}
.section-title {
}
.img {
}
.custom {
}
.text {
}
